.wrapper {
  height: 100% 
}
.content-padding > * {
  padding: 0.5rem;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
}

.product-info [ui5-avatar],
.product-info .product-info-cell {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.product-info-cell {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.product-description {
  display: inline;
}

.snapped-title-heading {
  display: flex;
  align-items: center;
}
.snapped-title-heading [ui5-avatar] {
  margin-right: 1rem;
}
.snapped-title-heading [ui5-title] {
  font-family: var(--sapObjectHeader_Title_FontFamily);
  color: var(--sapObjectHeader_Title_TextColor);
  padding: 0.3125rem 0 0 0;
  font-size: var(--sapObjectHeader_Title_SnappedFontSize);
  text-overflow: ellipsis;
  min-width: 0;
}
.plan-location {
  position: relative;
}

.hint {
  display: none;
}

.plan-location:hover .hint {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}

ion-item .custom {
  width: 100%;
}

.actionsToolbar {
  display: flex;
  justify-content: end;
}

.place-description {
  display: flex;
  align-items: center;
  gap: 10px;
}