<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ui5-icon name="arrow-left"></ui5-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ui5-dynamic-page id="page" show-footer>
    <ui5-dynamic-page-title slot="titleArea">
      <ui5-title wrapping-type="None" slot="heading">
        {{ (plan | async)?.planModel?.name }}
      </ui5-title>

      <div class="actionsToolbar" ></div>
      <ui5-toolbar  slot="actionsBar" design="Transparent">
          <ui5-toolbar-button id="edit-button" design="Transparent" [icon]="isLoading ? 'lateness':'ai'" (click)="submitHint()" [disabled]="isLoading"></ui5-toolbar-button>
      </ui5-toolbar>

    </ui5-dynamic-page-title>

    <ui5-dynamic-page-header slot="headerArea">
      <div class="product-info">
        <div class="product-info-cell">
          <ui5-label>Description</ui5-label>
          <ui5-text class="product-description">
            {{ (plan | async)?.planModel?.description }}
          </ui5-text>
        </div>
        <div class="product-info-cell">
          <ui5-label>Distance</ui5-label>
          <ui5-text class="availability">{{ (plan | async)?.totalDistance() }}</ui5-text>
        </div>
        <div class="product-info-cell">
          <ui5-label>Time</ui5-label>
          <ui5-text class="price">{{ (plan | async)?.totalFormattedTime() }}</ui5-text>
        </div>
      </div>
    </ui5-dynamic-page-header>

    <ui5-wizard id="wiz">
      <ng-container *ngIf="(groupPlaces | async) as rawGroupPlaces">
        <ui5-wizard-step icon="product">
          <ui5-timeline layout="Vertical" id="testTimeline">

            <ui5-timeline-group-item *ngFor="let groupPlace of rawGroupPlaces | keyvalue" [groupName]="'DAY ' + groupPlace.key">
              <ng-container *ngFor="let place of groupPlace.value">
                <ui5-timeline-item *ngIf="!displayLoadingMusk(place)" id="testItem" class="group-item plan-location" [name]="place.name" [subtitleText]="'Duration:' + formatMinutes(place.stopTime)">
                    <div class="place-description">
                      <ui5-avatar size="S">
                        <img [src]="getIcon(place.primaryType)" />
                      </ui5-avatar>
                      <ui5-label>{{ place.reason  }}</ui5-label>
                    </div>
                    <ion-item lines="none" *ngIf="place.toggleStatus" style="width: 100%">
                      <ui5-combobox style="width:100%" placeholder="Suggestions..." [loading]="!place.suggestLocations" (change)="suggestClick($event, place)">
                        <ui5-cb-item [text]="suggest.DisplayName.Text" additional-text="" *ngFor="let suggest of place.suggestLocations"></ui5-cb-item>
                      </ui5-combobox>
                    </ion-item>
                    <span class="hint">
                      <!-- <ui5-toggle-button icon="add"></ui5-toggle-button> -->
                      <ui5-toggle-button icon="user-edit" (click)="toggleClick(place)"></ui5-toggle-button>
                    </span>
                </ui5-timeline-item>
                <ng-container  *ngIf="displayLoadingMusk(place)">
                  <ion-item lines="none">
                    <ion-thumbnail slot="start" style="width: 40%; height:30px">
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-thumbnail>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>
                      <h3 style="font-size: large;">
                        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ui5-timeline-group-item>

        </ui5-timeline>
        </ui5-wizard-step>
      </ng-container>

    </ui5-wizard>
  </ui5-dynamic-page>

  <style>
    .wrapper {
        height: 800px;
    }
    .content-padding > * {
        padding: 0.5rem;
    }

    .product-info {
        display: flex;
        flex-wrap: wrap;
    }

    .product-info [ui5-avatar],
    .product-info .product-info-cell {
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .product-info-cell {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .product-description {
        display: inline;
        max-width: 300px;
    }

    .snapped-title-heading {
        display: flex;
        align-items: center;
    }
    .snapped-title-heading [ui5-avatar] {
        margin-right: 1rem;
    }
    .snapped-title-heading [ui5-title] {
        font-family: var(--sapObjectHeader_Title_FontFamily);
        color: var(--sapObjectHeader_Title_TextColor);
        padding: 0.3125rem 0 0 0;
        font-size: var(--sapObjectHeader_Title_SnappedFontSize);
        text-overflow: ellipsis;
        min-width: 0;
    }
  </style>
</ion-content>
