<ion-split-pane contentId="menu-content" when="(min-width: 1800px)">
  <ion-menu contentId="menu-content" style="width:300px">
    <ion-content class="ion-padding">
        <ion-menu-toggle autoHide="false">
          <ion-button fill="outline" expand="block"
                      [disabled]="(hasKey | async) === false" (click)="onItemCreate()">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label>New Plan</ion-label>
          </ion-button>
        </ion-menu-toggle>

        <plan-item *ngFor="let item of planItems" [planItem]="item"
                    (delete)="onItemDelete($event)" (save)="onItemSave($event)"
                    [routerLink]="['/plan', item.id]">
        </plan-item>

    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/home">
            <ion-icon slot="start" name="settings-outline" color="light"></ion-icon>
            <ion-label color="light">Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
