<ui5-page background-design="List">
  <ui5-bar design="Header" slot="header">
    <ui5-button icon="decline"  slot="startContent" (click)="onCancel()"></ui5-button>
    <ui5-label>Add New Place</ui5-label>
    <ui5-button
      icon="save"
      tooltip="Go to settings"
      slot="endContent"
      (click)="onSave()"
    ></ui5-button>
  </ui5-bar>

  <ui5-form class="addressForm" layout="S2 M2 L4 XL6">
    <ui5-form-group header-text="Place Info" column-span="1">
      <ui5-form-item>
        <ui5-label slot="labelContent">Name:</ui5-label>
        <ui5-input [(ngModel)]="placeDetail.name"></ui5-input>
      </ui5-form-item>

      <ui5-form-item>
        <ui5-label slot="labelContent">Category:</ui5-label>
        <ui5-multi-combobox (selection-change)="categoryChange($event)">
          <ui5-mcb-item  text="Park" categoryId="park"></ui5-mcb-item>
          <ui5-mcb-item  text="Restaurant" categoryId="restaurant"></ui5-mcb-item>
          <ui5-mcb-item  text="Art Gallery" categoryId="art_gallery"></ui5-mcb-item>
          <ui5-mcb-item  text="Museum" categoryId="museum"></ui5-mcb-item>
          <ui5-mcb-item  text="Landmark" categoryId="historical_landmark"></ui5-mcb-item>
          <ui5-mcb-item  text="Cafe" categoryId="cafe"></ui5-mcb-item>
          <ui5-mcb-item  text="Bar" categoryId="bar"></ui5-mcb-item>
          <ui5-mcb-item  text="NightClub" categoryId="night_club"></ui5-mcb-item>
          <ui5-mcb-item  text="Store" categoryId="store"></ui5-mcb-item>
          <ui5-mcb-item  text="Supermarket" categoryId="supermarket"></ui5-mcb-item>
        </ui5-multi-combobox>
      </ui5-form-item>

      <ui5-form-item>
        <ui5-label slot="labelContent">Descritpion:</ui5-label>
        <ui5-textarea [(ngModel)]="placeDetail.description"></ui5-textarea>
      </ui5-form-item>

    </ui5-form-group>


    <ui5-form-group header-text="Address" column-span="1">
        <ng-container *ngIf="(geocodeResult | async) as result; else geocodingUI">
          <ui5-form-item>
            <ui5-label slot="labelContent">Name:</ui5-label>
            <ui5-text>{{ result.PlaceName }}</ui5-text>
          </ui5-form-item>

          <ui5-form-item>
            <ui5-label slot="labelContent">City/Zip Code:</ui5-label>
            <ui5-text>{{ result.City }} {{ result.Postal }} </ui5-text>
          </ui5-form-item>

          <ui5-form-item>
            <ui5-label slot="labelContent">Street:</ui5-label>
            <ui5-text>{{ result.Address }} </ui5-text>
          </ui5-form-item>

          <ui5-form-item>
            <ui5-label slot="labelContent">Country:</ui5-label>
            <ui5-text>{{ result.CntryName }}</ui5-text>
          </ui5-form-item>
      </ng-container>
    </ui5-form-group>


  </ui5-form>
</ui5-page>

<ng-template #geocodingUI>
  <ui5-busy-indicator text="Geocoding" active>
    <div style="height: 200px; width: 200px;"></div>
  </ui5-busy-indicator>
</ng-template>

<ng-template #notFoundUI>
  <ui5-illustrated-message name="NoData">
    <ui5-title slot="title" level="H2">No address info found</ui5-title>
    <ui5-button icon="refresh">Try again</ui5-button>
  </ui5-illustrated-message>
</ng-template>
