<ion-item [routerLinkActive]="['activate', 'rounded-lg']">
  <ng-container *ngIf="isEdit == false; else editMode">
  <ui5-label>
    {{ planItem.value  }}
  </ui5-label>
    <div class="float-right">
      <ui5-button (click)="onEdit()">
        <ui5-icon name="edit"></ui5-icon>
      </ui5-button>
      <ui5-button (click)="onDelete()">
        <ui5-icon name="delete"></ui5-icon>
      </ui5-button>
    </div>
</ng-container>
<ng-template #editMode>
  <ui5-input class="custom" placeholder="Enter text" [(ngModel)]="planItem.value"></ui5-input>
  <div class="ion-float-right">
    <ui5-button (click)="onSave()">
      <ui5-icon name="save"></ui5-icon>
    </ui5-button>
  </div>
</ng-template>
</ion-item>
