.custom {
    width: 100%;
}

ui5-label {
    cursor: auto;
    width: 100%;
    padding-left: 16px;
}

ion-item {
    &.activate {
      --background: #EFF4F9;
    }
}

.float-right {
    display: flex;
}

ion-input.custom {
    --background: #373737;
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
  
    min-height: 40px;
}

ui5-button {
    margin: 2px;
}