<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="title-color">
        Plan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <map [layers]="layers | async" (onReady)="onMapReady($event)"></map>
</ion-content>


<div class="m-2 relative flex h-28 justify-center">
  <div class="w-full md:w-3/5 py-2 md:px-4 relative border border-gray/10 rounded-md shadow-[0_0_10px_rgba(0,0,0,0.90)] chat-background" *appLoading="true">
    <div [formGroup]="inputForm" style="display:flex;">
      <ui5-textarea formControlName="prompt" class="w-96 textarea-width plan-message"
                    placeholder="Type no more than 10 symbols"
                    maxlength="200">
      </ui5-textarea>
      <button slot="end"
              class="absolute p-5 rounded-sm text-gray-500 bottom-7 right-1 hover:bg-gray-100"
              (click)="submit()"
              >
        <ui5-icon class="send" name="paper-plane"></ui5-icon>
      </button>
    </div>
  </div>
</div>
