<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="title-color">
        {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ui5-flexible-column-layout style="height:100%" layout="TwoColumnsStartExpanded" class="h-full">
  <div slot="startColumn" class="map-column">
    <ion-content [fullscreen]="true">
      <map [layers]="layers | async" (onReady)="onMapReady($event)" longPress (press)="onMapPress($event)"></map>
    </ion-content>
  
    <div class="send-container">
      <ui5-message-strip class="md:w-3/5" design="Information" [hidden]="!errorMessage" (close)="clearError()">{{errorMessage}}</ui5-message-strip>
      <div class="m-2 relative flexbox justify-center md:w-2/4 ">
        <div class="w-full py-2 md:px-4 relative border border-gray/10 rounded-md shadow-[0_0_10px_rgba(0,0,0,0.90)] chat-background">
          <div [formGroup]="inputForm" class="inputForm">
            <ui5-textarea formControlName="prompt" class="textarea-width plan-message"
              placeholder="Where you wanna go?">
            </ui5-textarea>
            <ui5-button slot="end"
              class="send-button rounded-sm text-gray-500 hover:bg-gray-100"
              (click)="submit()" [disabled]="isLoading">
              <ui5-icon class="send-icon" name="paper-plane" *appIsLoading="isLoading"></ui5-icon>
            </ui5-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="midColumn" class="detail-column">
    <ng-container #outlet>
    </ng-container>
    <ng-template #content>
      <plan-detail [planID]="planID"></plan-detail>
    </ng-template>
  </div>
</ui5-flexible-column-layout>